@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

html,
body {
    font-size: 16px;
    font-family: sans-serif;
    height: 100%;
}

body {
    background: #10131c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #9252ab;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75rem;
    width: 325px;
    border: 1px solid #333;
    padding: .75rem;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.screen {
    grid-column: 1 / 5;
    border-radius: .60rem;
    font-size: 2rem;
    height: 6rem;
    color: #fff;
    background: #4f2760;
    text-align: right;
    padding: .5rem;
}

input {
    border: none;

}

input:focus {
    outline: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.symbols,
.numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1;
    font-size: 1.25rem;
    color: #fff;
    border-radius: 50%;
    transition: .15s ease;
}

.symbols {
    background: #4e3857;
}

.symbols:hover {
    background: #007a8d;
}

.numbers {
    background: #4e3857;
}

.numbers:hover {
    background: #333849;
}